<footer class="footer">

  <small>
    The Film Industry article by Forbes
  </small>
   <ul class="nav navbar-right">
  <nav>
    <ul>
    
      <li><a href="http://www.forbes.com/">About Forbes</a></li>
      
    </ul>
  </nav>
  </ul>

</footer>

<div class = "footer_box">
  </div>